<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/styledk.css" type="text/css" />
  </head>
  <style>
    .container {
      width: 70%;
      margin-top: 100px;
      margin-bottom: 40px;
    }
    .container p {
      text-align: justify;
      color: #303030;
    }

    @media (width<768px) {
      .container {
        width: 90%;
      }
    }

    @media (width<576px) {
      .container {
        width: 90%;
      }
    }
  </style>

  <body>
    <!-- NAVBAR -->
    <header>
      <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid nav-container">
          <div class="container-fluid nav-container">
            <a class="navbar-brand" href="/">
              <img src="./images/main-logo-yellow.png" alt="" id="main-logo" />
              Xynapse Tech</a
            >

            <div>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>
          <div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-ul">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/#project"
                    >WORK</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#services">SERVICES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#howitworks">ABOUT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog">BLOG</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/careers">CAREER</a>
                </li>
                <li class="nav-item">
                  <a class="getStartBtn" href="/#contact ">GET STARTED</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <h2 class="s-headline">Overview of Xynapse Technologies</h2>
      <div class="paragraph">
        <p>
          Welcome to Xynapse Technologies, a leading software company committed
          to delivering innovative solutions that empower businesses in the
          digital age. With a strong focus on web development, app development,
          e-commerce building, startup support, and digital marketing, we offer
          a comprehensive suite of services designed to meet your specific
          needs. In today's fast-paced and highly competitive business
          landscape, having a robust online presence is crucial. At Xynapse
          Technologies, we understand the importance of leveraging technology to
          drive growth and success. With our expertise and dedication, we help
          businesses harness the power of digital solutions to reach their full
          potential.
          <br />
          Xynapse Technologies is a team of skilled professionals who are
          passionate about crafting exceptional digital experiences. Our company
          ethos revolves around innovation, collaboration, and a client-centric
          approach. We believe in building long-lasting partnerships with our
          clients, understanding their unique requirements, and delivering
          tailor-made solutions that drive tangible results.
          <br />

          Welcome to Xynapse Technologies, a leading software company committed
          to delivering innovative solutions that empower businesses in the
          digital age. With a strong focus on web development, app development,
          e-commerce building, startup support, and digital marketing, we offer
          a comprehensive suite of services designed to meet your specific
          needs. In today's fast-paced and highly competitive business
          landscape, having a robust online presence is crucial. At Xynapse
          Technologies, we understand the importance of leveraging technology to
          drive growth and success. With our expertise and dedication, we help
          businesses harness the power of digital solutions to reach their full
          potential. Welcome to Xynapse Technologies, a leading software company
          committed to delivering innovative solutions that empower businesses
          in the digital age. With a strong focus on web development, app
          development, e-commerce building, startup support, and digital
          marketing, we offer a comprehensive suite of services designed to meet
          your specific needs. In today's fast-paced and highly competitive
          business landscape, having a robust online presence is crucial. At
          Xynapse Technologies, we understand the importance of leveraging
          technology to drive growth and success. With our expertise and
          dedication, we help businesses harness the power of digital solutions
          to reach their full potential. Welcome to Xynapse Technologies, a
          leading software company committed to delivering innovative solutions
          that empower businesses in the digital age. With a strong focus on web
          development, app development, e-commerce building, startup support,
          and digital marketing, we offer a comprehensive suite of services
          designed to meet your specific needs. In today's fast-paced and highly
          competitive business landscape, having a robust online presence is
          crucial. At Xynapse Technologies, we understand the importance of
          leveraging technology to drive growth and success. With our expertise
          and dedication, we help businesses harness the power of digital
          solutions to reach their full potential.
        </p>
      </div>
    </div>

    <!-- FOOTER -->
    <footer>
      <div class="footer-logo">
        <img src="./images/logo.png" alt="logo" />
        <p>&copy; <span class="yearSpan"></span> Xynapse Technologies</p>
      </div>
      <div class="footer-links">
        <div class="footer-services footer-link-div">
          <h3>Services</h3>
          <a href="#services">Web Development</a>
          <a href="#services">Mobile App Development</a>
          <a href="#services">Digital Marketing</a>
          <a href="#services">Web Designing</a>
        </div>
        <div class="footer-contact footer-link-div">
          <h3>Contact Us</h3>
          <a href="#contact">Send Message</a>
          <p>7994555949</p>
        </div>
      </div>
    </footer>
    <!-- SCRIPTS -->
    <script src="/javascript/navshadow.js"></script>
    <script src="/javascript/copyrightYear.js"></script>
  </body>
</html>
