<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
    <div class="cover">
  
  
      <h1 id="title">Survey Form</h1>
      <p id="description"><i>Thank you for taking the time to fill in this survey!</i></p>
  

  
      <form id="survey-form" action="/form" method="post">
  

  
        <fieldset>
          <legend>Let us know about you :</legend>
          <!-- <img id="logo" src="" > -->
  
          <label id="name-label" for="name">Name:
            <input id="name" name="name" type="text" placeholder=" Enter your name" required>
          </label>
  
          <label id="email-label" for="email">Email:
            <input id="email" name="email" type="email" placeholder=" Enter your Email" required>
          </label>
  
          <label id="number-label" for="age">Age (years):
            <input id="number" name="age" type="number" placeholder=" Age" min="5" max="120">
          </label>
  
          <!-- <label id="dropdown-label" for="dropdown">Which option best describes your current Spanish level?
            <select id="dropdown" name="dropdown">
              <option value="">Select current Spanish level</option>
              <option value="0">I have no spanish knowledge (A0)</option>
              <option value="A">Basic (A1/A2)</option>
              <option value="B">Intermediate (B1/B2)</option>
              <option value="C">Advanced (C1/C2)</option>
              <option value="N">Native</option>
            </select>
          </label> -->
        </fieldset>
  
      
  
        <fieldset>
          <legend>Are you a teacher or a student?</legend>
  
          <label id="student-label" for="role">
            <input id="student" name="role" type="radio" value="student"> Student
          </label>
  
          <label id="teacher-label" for="role">
            <input id="teacher" name="role" type="radio" value="teacher"> Teacher
          </label>
        </fieldset>
  
  
  
        <fieldset>
          <legend>Area of Interest</legend>
  
          <label id="content1-label" for="stack">
            <input id="content1" name="stack" type="radio" value="Web development"> Web development
          </label>
  
          <label id="content2-label" for="stack">
            <input id="content2" name="stack" type="radio" value="App development"> App development
          </label>
  
          <label id="content3-label" for="stack">
            <input id="content3" name="stack" type="radio" value="Machine learning"> Machine learning
          </label>
  
          <label id="content4-label" for="stack">
            <input id="content4" name="stack" type="radio" value="Cyber security"> Cyber security
          </label>
  
          <label id="else-label" for="msg">Any comments or suggestions?
            <textarea placeholder="I am interested in..." id="else" name="msg" rows="5" cols="30"></textarea>
          </label>
        </fieldset>
        <input id="submit" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>